{% extends 'base.html.twig' %}

{% block title %}Hello JouerController!{% endblock %}

{% block body %}
    <div class="p-6 max-w-sm bg-white rounded-xl shadow-lg border border-blue-200 text-blue-600">
        {{ form_start(grilleForm) }}
        {{ form_widget(grilleForm) }}
        <button class="min-w-full mt-4 px-4 py-2 text-sm text-blue-600 font-semibold rounded-full border border-blue-200 hover:text-white hover:bg-blue-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2">
            Jouer
        </button>
        {{ form_end(grilleForm) }}
    </div>
{% endblock %}
