{% extends 'base.html.twig' %}

{% block title %}FDJ{% endblock %}

{% block body %}
    <div class="accueil">
        <img class="w-1/4 mx-auto" src="{{ asset('build/images/logo_fdj.png') }}" alt="logo_fdj">
        {% if app.user %}
            <article class="">
                <div class="">
                    <p>Bonjour {{ app.user.email }}</p>
                </div>
                <div class="">
                    <a href="{{ path('jouer_index') }}">Tu veux jouer ?</a>
                </div>
            </article>
        {% endif %}
    </div>
{% endblock %}
